<ion-header>
  <ion-toolbar>
    <ion-title>Nouvelle note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup" (ngSubmit)="saveNote(formGroup.value)" >
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input name="title" type="text" formControlName="title" required></ion-input>
      <div class="alert" *ngIf="!formGroup.controls['title'].valid && formGroup.controls['title'].touched">{{titleAlert}}</div>
    </ion-item>
    <ion-item>
      <ion-label>Contenu</ion-label>
      <ion-input name="content" type="text" formControlName="content" required></ion-input>
      <div class="alert" *ngIf="!formGroup.controls['content'].valid 
      && formGroup.controls['content'].touched">{{titleAlert}}</div>
    </ion-item>
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-input name="type" type="text" formControlName="type" required></ion-input>
      <div class="alert" *ngIf="!formGroup.controls['type'].valid 
      && formGroup.controls['type'].touched">{{titleAlert}}</div>
    
    </ion-item>

    <ion-button ion-button type="submit" [disabled]="!formGroup.valid">Ajouter la note</ion-button>
  </form>
  
</ion-content>
