<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mes Notes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card ion-item *ngFor="let note of notes | async" (click)="cardDetail()">
      <ion-card-header>
        <ion-card-subtitle>{{note.type}}</ion-card-subtitle>
        <ion-card-title>{{note.title}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{note.content}}
      </ion-card-content>
    </ion-card>
    
  </ion-list>
  <ion-button (click)="addNote()">Créer une nouvelle note</ion-button>
  
</ion-content>
